<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Programacion_II.Properties.Settings.Control_FinancieroConnectionString"
            connectionString="Data Source=DESKTOP-UJUKNJS\SQLEXPRESS;Initial Catalog=Control_Financiero;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>